
######################
# Java
######################

*.class
chess.log*
 
# Package Files #

*.war
*.ear
*.db
 
######################
# Eclipse
######################

# Directories #
/build/
/bin/
target/

.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

######################
# OS Files 
######################
 
.DS_Store
